body {
  width: 1920px;
  margin: auto;
}
/*header*/
header {
  display: flex;
  padding: 20px 120px;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: space-between;
  font-family: "Shippori Mincho B1", serif;
}
nav {
  display: flex;
  margin-top: -448px;
  justify-content: space-between;
  font-family: "Shippori Mincho B1", serif;
}
nav ul {
  text-decoration: none;
  display: flex;
  list-style: none;
}
nav ul li {
  border-radius: 2px;
  background-color: coral;
  margin-right: 30px;
}
.container h1 {
  font-size: 32px;
}
.container h2 {
  font-size: 24px;
  margin-left: 1130px;
  margin-top: 0px;
}
.name {
  text-transform: uppercase;
  margin-left: 886px;
  font-weight: 300;
}
.surname {
  text-transform: uppercase;
  padding: 0px 1px;
  font-weight: 700;
}
.photo {
  cursor: pointer;
  width: 20%;
  height: 20%;
}
/*section*/
section {
  display: flex;
  padding: 0px 120px;
  flex-direction: column;
  margin-left: 40px;
  font-family: "Shippori Mincho B1", serif;
}
section h2 {
  font-size: 32px;
}
section p {
  margin-top: -25px;
}
main {
  display: flex;
  padding: 0px 120px;
  flex-direction: column;
  margin-left: 40px;
  font-family: "Shippori Mincho B1", serif;
}
main h2 {
  margin-top: -3px;
}
main ul {
  margin-top: -25px;
}
footer {
  display: flex;
  padding: 0px 120px;
  margin-left: 40px;
  font-family: "Shippori Mincho B1", serif;
}
.logo {
  cursor: pointer;
  width: 20%;
  height: 20%;
}
